@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  font-size: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

.inverse {
  background-color: #145EB2;
  color: #fff;
  text-shadow: none;
}

.remark-slide-content h2 {
  font-size: 38px;
}

.remark-slide-content h3 {
  font-size: 28px;
}

a, a > code {
  color: #145EB2;
  text-decoration: none;
}